<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><footer></footer></title>
</head>
<body>
    <footer class="py-4  text-center">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#home" class="nav-link px-2 ">Home</a></li>
                <li class="nav-item"><a href="#menu" class="nav-link px-2 ">Menu</a></li>
                <li class="nav-item"><a href="#about" class="nav-link px-2 ">About</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link px-2 ">Contact</a></li>
            </ul>
            <p>&copy; 2025 La Mamounia | Tous droits réservés</p>
            <p>Adresse : 47 Rte de Saint-Germain, 78711 Mantes-la-Ville, France | Téléphone : 01 23 45 67 89</p>
        </div>
    </footer>
</body>
</html>